@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
    --ff: Arial, Helvetica, sans-serif;   
    --clr-font: #333;
    --clr-black: #000;
    --clr-black-08: rgb(0 0 0/.8);
    --clr-white: #fff;
    --gap: 0rem;

    /* gray */
    --clr-gray-50: #FAFAFA;
    --clr-gray-100: #F5F5F5;
    --clr-gray-200: #EEEEEE;
    --clr-gray-300: #E0E0E0;
    --clr-gray-400: #BDBDBD;
    --clr-gray-500: #9E9E9E;
    --clr-gray-600: #757575;
    --clr-gray-700: #616161;
    --clr-gray-800: #424242;
    --clr-gray-900: #212121;

    /* sky */
    --clr-sky-50: #e3f3ff;
    --clr-sky-100: #bce1ff;
    --clr-sky-200: #91cfff;
    --clr-sky-300: #62bbff;
    --clr-sky-400: #3dacff;
    --clr-sky-500: #189dff;
    --clr-sky-600: #1e8fff;
    --clr-sky-700: #1f7ceb;
    --clr-sky-800: #206ad9;
    --clr-sky-900: #1f4ab9;

    
    /* red */
    --clr-red-50: #ffebf0;
    --clr-red-100: #ffcdd6;
    --clr-red-200: #f8989f;
    --clr-red-300: #f26e79;
    --clr-red-400: #ff4756;
    --clr-red-500: #ff2c3b;
    --clr-red-600: #f71f3b;
    --clr-red-700: #e50e35;
    --clr-red-800: #d8002d;
    --clr-red-900: #c90020;
}
* {margin: 0;padding: 0;box-sizing: inherit;text-decoration: none;color: inherit;list-style: none;outline: none;}
html {font-size: 62.5%;}
body {font-family: var(--ff);box-sizing: border-box;font-size: 1.5rem;color: var(--clr-font);}

/* h tags */
h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 175%;}
h4 {font-size: 150%;}
h5 {font-size: 125%;}
h6 {font-size: 100%;}
@media (min-width: 768px) {
    h1 {font-size: 300%;}
    h2 {font-size: 250%;}
    h3 {font-size: 200%;}
    h4 {font-size: 175%;}
    h5 {font-size: 150%;}
    h6 {font-size: 125%;}
    }
/* layout */
.row {display: flex;flex-wrap: wrap;}
.col-md-4 {width: 100%;}
@media (min-width: 768px) {.col-md-4 {width: calc((100% - 3 * var(--gap)) / 4)}}
.wrapper {width: 80%;margin: 0 auto;padding: 1%;}
/* flex */
.flex {display: flex;flex-direction: row;}
.flex-column {display: flex;flex-direction: column;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.self-center {align-self: center;}
.justify-end {justify-content: end;}
.gap-1 {gap: 1rem;--gap: 1rem;}
.gap-2 {gap: 2rem;--gap: 2rem;}
.gap-3 {gap: 3rem;--gap: 3rem;}
.gap-4 {gap: 4rem;--gap: 4rem;}
.gap-5 {gap: 5rem;--gap: 5rem;}
/* position */
.relative {position: relative;}
/* spaces */
.p-1 {padding: 1rem;}
.mb-1 {margin-bottom: 1rem;}
.p-3 {padding: 3rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.my-3 {margin-top: 3rem;margin-bottom: 3rem;}
/* text */
.text-2 {font-size: 2rem;}
.text-3 {font-size: 3rem;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-white {color: var(--clr-white);}
.text-red-400 {color: var(--clr-red-400);}
/* bg */
.bg-white {background-color: var(--clr-white);}
.bg-red-400 {background-color: var(--clr-red-400);}
.bg-gray-100 {background-color: var(--clr-gray-100);}
/* cursor */
.pointer {cursor: pointer;}
/* btn */
.btn {display: inline-flex;cursor: pointer;padding: 1rem 2rem;transition: .3s;align-items: center;gap: .5rem;}
.btn-sky {background-color: var(--clr-sky-400);color: var(--clr-white);}
.btn-sky:hover {background-color: var(--clr-sky-600);}
/* table */
.table-full {width: 100%;overflow-x: auto;overflow-y: hidden;}
.table-full table {width: 100%;min-width: 70rem;padding: 5rem 0 10rem 0;}
.table-full thead tr {background-color: var(--clr-sky-200);}
.table-full tbody tr:nth-child(odd) {background-color: var(--clr-sky-50);}
.table-full tbody tr:nth-child(even) {background-color: var(--clr-white);}
.table-full td,.table-full th {padding: 1rem;}
/* nav */
.nav-update {position: relative;width: 100%;height: 100%;text-align: center;}
.nav-update-items {display: flex;flex-direction: column;background-color: var(--clr-red-50);display: inline-block;position: absolute;top: 100%;left: 50%;transform: translate(-50%, 50%);opacity: 0;transition: .3s;pointer-events: none;z-index: 9;}
.nav-update.active .nav-update-items {opacity: 1;transform: translate(-50%, 0%);pointer-events: all;}
.nav-update-items  > div {display: flex;gap: 1rem;cursor: pointer;padding: 1rem 1.5rem;}
.nav-update-items  > div:hover {background-color: var(--clr-red-100);}
/* modal */
.modal {position: fixed;inset: 0;opacity: 0;pointer-events: none;transition: .3s;}
.modal-overlay {width: 100%;height: 100%;background-color: var(--clr-black-08);display: grid;place-items: center;}
.modal-content {background-color: var(--clr-white);padding: 2rem;transform: translateY(50%);transition: .4s;}
.modal.active {opacity: 1;pointer-events: all;}
.modal.active .modal-content {transform: translateY(0);}
/* forms */
.form {display: flex;flex-direction: column;gap: 2rem;}
.form label {position: relative;}
.form label span {position: absolute;top: 50%;left: 1rem;transform: translate(0, -50%) scale(1);transition: .3s;transform-origin: left;}
.form input {border: 1px solid var(--clr-gray-200);transition: .3s;padding: 2.5rem 1rem 1rem 1rem;width: 100%;}
.form input:focus, .form label.active input {border: 1px solid var(--clr-gray-400);}
.form label.active span {transform: translate(0, -2.5rem) scale(.7);opacity: .7;}
/* message */
.message {background-color: var(--clr-red-300);color: var(--clr-white);transition: .3s;opacity: 0;height: 0;padding: 1rem;}
.message.active {min-height: fit-content;opacity: 1;margin-bottom: 1rem;}